absl-py                  1.2.0
aiofiles                 22.1.0
aiohttp                  3.8.3
aiosignal                1.2.0
APScheduler              3.9.1
astor                    0.8.1
async-generator          1.10
async-timeout            4.0.2
asynctest                0.13.0
attrs                    22.1.0
backports.zoneinfo       0.2.1
bidict                   0.22.0
boto3                    1.24.89
botocore                 1.27.89
bz2file                  0.98
cachetools               4.2.4
certifi                  2022.9.24
cffi                     1.15.1
chardet                  3.0.4
charset-normalizer       2.1.1
chart-studio             1.0.0
click                    8.1.3
cloudpickle              2.2.0
colorclass               2.2.2
coloredlogs              10.0
colorhash                1.1.0
ConfigArgParse           1.5.3
cryptography             38.0.1
cycler                   0.11.0
decorator                5.1.1
dill                     0.3.5.1
dnspython                2.2.1
docopt                   0.6.2
dopamine-rl              3.0.1
duckling                 1.8.0
etils                    0.8.0
fbmessenger              6.0.0
Flask                    2.2.2
frozenlist               1.3.1
future                   0.18.2
gast                     0.2.2
gevent                   1.5.0
gin-config               0.5.0
google-api-core          2.10.2
google-api-python-client 2.64.0
google-auth              1.10.1
google-auth-httplib2     0.1.0
google-auth-oauthlib     0.4.6
google-pasta             0.2.0
googleapis-common-protos 1.56.4
greenlet                 1.1.3
grpcio                   1.49.1
gunicorn                 20.1.0
gym                      0.26.2
gym-notices              0.0.8
h11                      0.8.1
h2                       3.2.0
h5py                     2.10.0
hpack                    3.0.0
httpcore                 0.3.0
httplib2                 0.20.4
httptools                0.5.0
humanfriendly            10.0
hyperframe               5.2.0
idna                     2.10
importlib-metadata       5.0.0
importlib-resources      5.10.0
itsdangerous             2.1.2
Jinja2                   3.1.2
jmespath                 1.0.1
JPype1                   1.4.1
jsonpickle               1.5.2
jsonschema               3.2.0
Keras-Applications       1.0.8
Keras-Preprocessing      1.1.2
kfac                     0.2.0
kiwisolver               1.4.4
Markdown                 3.4.1
MarkupSafe               2.1.1
matplotlib               3.4.3
mattermostwrapper        2.2
mesh-tensorflow          0.1.21
mpmath                   1.2.1
multidict                4.6.1
networkx                 2.3
nexmo                    2.4.0
numpy                    1.19.5
oauth2client             4.1.3
oauthlib                 3.2.2
opencv-python            4.6.0.66
opt-einsum               3.3.0
packaging                19.2
pandas                   0.24.2
pika                     1.0.1
Pillow                   9.2.0
pip                      22.2.2
plotly                   5.10.0
promise                  2.3
prompt-toolkit           2.0.10
protobuf                 3.20.3
pyasn1                   0.4.8
pyasn1-modules           0.2.8
pycparser                2.21
pydot                    1.4.2
PyJWT                    1.7.1
pykwalify                1.7.0
pymongo                  3.12.3
pyparsing                3.0.9
pypng                    0.20220715.0
pyrsistent               0.18.1
python-crfsuite          0.9.8
python-dateutil          2.8.2
python-engineio          4.3.4
python-socketio          5.7.1
python-telegram-bot      11.1.0
pytz                     2019.3
pytz-deprecation-shim    0.1.0.post0
PyYAML                   6.0
questionary              1.4.0
rasa                     1.6.1
rasa-sdk                 1.6.1
redis                    3.3.11
requests                 2.28.1
requests-async           0.5.0
requests-oauthlib        1.3.1
requests-toolbelt        0.10.0
retrying                 1.3.3
rfc3986                  1.5.0
rocketchat-API           0.6.36
rsa                      4.0
ruamel.yaml              0.15.100
s3transfer               0.6.0
sanic                    19.9.0
Sanic-Cors               0.9.9.post1
sanic-jwt                1.5.0
Sanic-Plugins-Framework  0.9.5
scikit-learn             0.20.4
scipy                    1.4.1
setuptools               47.1.0
six                      1.16.0
sklearn-crfsuite         0.3.6
slackclient              1.3.2
SQLAlchemy               1.3.12
sympy                    1.10.1
tabulate                 0.9.0
tenacity                 8.1.0
tensor2tensor            1.14.1
tensorboard              1.15.0
tensorflow               1.15.0
tensorflow-datasets      4.7.0
tensorflow-estimator     1.15.1
tensorflow-gan           2.1.0
tensorflow-hub           0.12.0
tensorflow-metadata      1.10.0
tensorflow-probability   0.7.0
termcolor                2.0.1
terminaltables           3.1.10
toml                     0.10.2
tqdm                     4.64.1
twilio                   6.63.2
typing_extensions        4.4.0
tzdata                   2022.4
tzlocal                  4.2
ujson                    5.5.0
uritemplate              4.1.1
urllib3                  1.25.7
uvloop                   0.17.0
wcwidth                  0.2.5
webexteamssdk            1.6.1
websocket-client         0.54.0
websockets               8.1
Werkzeug                 2.2.2
wheel                    0.37.1
wrapt                    1.14.1
yarl                     1.8.1
zipp                     3.9.0